<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Test Server</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Main Content -->
    <header>
        <h1>
            <img src="/static/img/fastapi-logo.png" alt="FastAPI Logo" style="height: 100px; vertical-align: middle;">
            FastAPI Test Server 🚀
        </h1>
    </header>

    <main>
        <section class="profile">
            <div class="profile-pic-container">
                <img src="/static/img/profile-pic.jpg" alt="owner-profile-picture">
            </div>
            <p>Explore and test your FastAPI API endpoints here, in an environment set up specifically for development
                and testing purposes.</p>
            <p>Explore the <a href="/docs" target="_blank">API documentation</a> for more details on available
                endpoints.</p>
            <p>Visit my <a href="https://github.com/sothpisey/fastapi-test-server" target="_blank"><i
                        class="fab fa-github"></i> GitHub
                    profile</a> for more projects.</p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 API Test Server. All rights reserved.</p>
    </footer>

</body>

</html>